body {
  color: red;
  background: gray;
  margin: 0px;
  font-family: "BBH Sans Hegarty", sans-serif;
}

header{
  border-bottom: solid 2px rgb(228,23,23);
  padding: 20px;
  font-size: 32px;
  color: rgb (42,122,228); 
} 
section{
  background: black;
  padding-bottom: 1000px;
  padding-top: 120px;
  display:flex;
  justify-content: center;
}
.chamada-texto {
  margin-right: 5%;
}
